@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 16px;
}

body {
	font-family: "Poppins", sans-serif;
}

* {
	box-sizing: border-box;
}

.bg-primary {
	background-color: linear-gradient(130deg, #468ef9, #0c66ee);
}

.text-blue-gradient {
	background: -webkit-linear-gradient(
		283deg,
		#3984f4,
		#0cd3ff,
		#2f7cf0,
		#0e65e8
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
	html {
		font-size: 14px;
	}
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	border-radius: 80vh;
	background: #edf2f7;
}

::-webkit-scrollbar-thumb {
	background: #cbd5e0;
	border-radius: 80vh;
	border: 3px solid #edf2f7;
}

::-webkit-scrollbar-thumb:hover {
	background: #a0aec0;
}
